@page "/importar-transacciones"

@inject HttpClient Http

<h3>Importar transacciones (CSV/Excel)</h3>
<InputFile OnChange="HandleFileSelected" />

@if (!string.IsNullOrEmpty(StatusMessage))
{
    <p>@StatusMessage</p>
}

@code {
    private string? StatusMessage;

    private async Task HandleFileSelected(InputFileChangeEventArgs e)
    {
        var file = e.File;
        if (file == null || file.Size == 0)
        {
            StatusMessage = "Por favor, seleccione un archivo válido.";
            return;
        }
        var content = new MultipartFormDataContent();

        // Determinar ruta: si es CSV o Excel por extensión
        if (file.Name.EndsWith(".csv", StringComparison.OrdinalIgnoreCase) || file.Name.EndsWith(".xls", StringComparison.OrdinalIgnoreCase) || file.Name.EndsWith(".xlsx", StringComparison.OrdinalIgnoreCase))
            content.Add(new StreamContent(file.OpenReadStream(maxAllowedSize: 10 * 1024 * 1024)), "file", file.Name);
        else
        {
            StatusMessage = "Formato no soportado. Usa .csv o .xlsx";
            return;
        }

        try
        {
            HttpResponseMessage response = await Http.PostAsync("api/bulkimport/upload", content);

            StatusMessage = response.IsSuccessStatusCode ? $"Archivo importado con éxito." : $"Error al importar {response.ReasonPhrase}";
        }
        catch (Exception ex)
        {
            StatusMessage = $"Excepción: {ex.Message}";
        }

    }
}